@model Equipment
@{
    string title = ViewBag.Action + " Equipment";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>
<div class="container justify-content-center align-content-center">
    <!--The form for item editing/adding-->
    <form asp-action="Edit" method="post">
        <!--Validation-->
        <div asp-validation-summary="All" class="text-danger"></div>
        <!--Equipment DB ID-->
        <input type="hidden" asp-for="EquipmentId" />

        <!--Row 1: Text Fields-->
        <div class="form-row align-items-center">

            <!--Equipment Name-->
            <div class="form-group col-3">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
            </div>

            <!--Icon URL-->
            <div class="form-group col-3">
                <label asp-for="IconURL">Icon URL</label>
                <input asp-for="IconURL" class="form-control">
            </div>

            <!--Equipment Category-->
            <div class="form-group col-3">
                <label asp-for="ItemSubcategoryId">Item Category</label>
                <select asp-for="ItemSubcategoryId" class="form-control">
                    <option value="">Select an equipment category:</option>
                    @foreach (ItemSubcategory s in ViewBag.ItemSubcategories)
                    {
                        <option value="@s.ItemSubcategoryId">@s.Name</option>
                    }
                </select>
            </div>

            <!--Damage Type-->
            <div class="form-group col-3">
                <label asp-for="ItemSubcategoryId">Damage Type</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Damage Type" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/damage_type-icon.jpg" /></div>
                    </div>
                    <input asp-for="AttackType" class="form-control">
                </div>
            </div>

            <!--End Row 1-->
        </div>

        <!--Row 2: Weapon Art and Auxillary Effect-->
        <div class="form-row align-items-center">
            <!--Weapon Art-->
            <div class="form-group col-6 input-group">
                <div class="input-group-prepend"><label class="input-group-text" asp-for="weaponArt">Weapon Art</label></div>
                <select asp-for="WeaponArtId" class="form-control">
                    <option value="">Select a weapon art:</option>
                    @foreach (WeaponArt w in ViewBag.WeaponArts)
                    {
                        <option value="@w.WeaponArtId">@w.Name</option>
                    }
                </select>
                <input asp-for="FPConsumption" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text"><img title="FP Consumption" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon_fp_cost.png" /></div>
                </div>
            </div>

            <!--Auxillary Effect-->
            <div class="form-group col-6 input-group">
                <div class="input-group-prepend"><label class="input-group-text" asp-for="AuxEffect">Auxillary Effect</label></div>
                <select asp-for="AuxillaryEffectId" class="form-control">
                    <option value="">Select an auxillary effect:</option>
                    @foreach (AuxillaryEffect a in ViewBag.AuxillaryEffects)
                    {
                        <option value="@a.AuxillaryEffectId">@a.Name</option>
                    }
                </select>
                <input asp-for="AuxEffectValue" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text"><img title="Auxillary Effect Value" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/spell_buff.jpg" /></div>
                </div>
            </div>

            <!--End Row 2-->
        </div>

        <!--Row 3: Misc Attributes-->
        <div class="row">
            <!--Critical-->
            <div class="form-group col-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Critical" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_critical.png" /></div>
                    </div>
                    <input asp-for="Critical" class="form-control">
                </div>
            </div>

            <!--Weight-->
            <div class="form-group col-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Weight" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon_weight.png" /></div>
                    </div>
                    <input asp-for="Weight" class="form-control">
                </div>
            </div>

            <!--Stability-->
            <div class="form-group col-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Stability" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_stability.png" /></div>
                    </div>
                    <input asp-for="Stability" class="form-control">
                </div>
            </div>

            <!--Durability-->
            <div class="form-group col-3">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Durability" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-durabilitiy.png" /></div>
                    </div>
                    <input asp-for="Durability" class="form-control">
                </div>
            </div>

            <!--End Row 3-->
        </div>

        <!--Row 4: Attribute Scaling-->
        <div class="row justify-content-center">
            <!--Strength Scaling-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Strength Scaling" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/STR.jpg" /></div>
                    </div>
                    <input asp-for="StrengthScaling" class="form-control">
                </div>
            </div>

            <!--Dexterity Scaling-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Dexterity Scaling" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/DEX.jpg" /></div>
                    </div>
                    <input asp-for="DexterityScaling" class="form-control">
                </div>
            </div>

            <!--Intellect Scaling-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Intellect Scaling" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/INT.jpg" /></div>
                    </div>
                    <input asp-for="IntellectScaling" class="form-control">
                </div>
            </div>

            <!--Faith Scaling-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Faith Scaling" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/FTH.jpg" /></div>
                    </div>
                    <input asp-for="FaithScaling" class="form-control">
                </div>
            </div>
            <!--End row 4-->
        </div>

        <!--Row 5: Attribute Requirements-->
        <div class="row justify-content-center">
            <!--Strength Requirement-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Strength Requirement" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/STR.jpg" /></div>
                    </div>
                    <input asp-for="StrengthRequirement" class="form-control">
                </div>
            </div>

            <!--Dexterity Requirement-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Dexterity Requirement" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/DEX.jpg" /></div>
                    </div>
                    <input asp-for="DexterityRequirement" class="form-control">
                </div>
            </div>

            <!--Intellect Requirement-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Intellect Requirement" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/INT.jpg" /></div>
                    </div>
                    <input asp-for="IntellectRequirement" class="form-control">
                </div>
            </div>

            <!--Faith Requirement-->
            <div class="form-group col-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Faith Requirement" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/FTH.jpg" /></div>
                    </div>
                    <input asp-for="FaithScaling" class="form-control">
                </div>
            </div>
            <!--End row 5-->
        </div>

        <!--Row 6: Attack Attributes-->
        <div class="row justify-content-center">
            <!--Physical Attack-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Physical Attack" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_physicalAttack.png" /></div>
                    </div>
                    <input asp-for="PhysicalAR" class="form-control">
                </div>
            </div>

            <!--Magic Attack-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Magic Attack" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-magicbonus.png" /></div>
                    </div>
                    <input asp-for="MagicAR" class="form-control">
                </div>
            </div>

            <!--Fire Attack-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Magic Attack" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-firebonus.png" /></div>
                    </div>
                    <input asp-for="FireAR" class="form-control">
                </div>
            </div>

            <!--Lightning Attack-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Magic Attack" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-lightningbonus.png" /></div>
                    </div>
                    <input asp-for="LightningAR" class="form-control">
                </div>
            </div>

            <!--Dark Attack-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Magic Attack" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-darkbonus.png" /></div>
                    </div>
                    <input asp-for="DarkAR" class="form-control">
                </div>
            </div>

            <!--End row 6-->
        </div>
        <!--Row 7: Defense Attributes-->
        <div class="row justify-content-center">
            <!--Physical Defense-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Physical Defense" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_physicaldef.png" /></div>
                    </div>
                    <input asp-for="PhysicalDR" class="form-control">
                </div>
            </div>

            <!--Magic Defense-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Magic Defense" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_magicdef.png" /></div>
                    </div>
                    <input asp-for="MagicDR" class="form-control">
                </div>
            </div>

            <!--Fire Defense-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Fire Defense" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_firedef.png" /></div>
                    </div>
                    <input asp-for="FireDR" class="form-control">
                </div>
            </div>

            <!--Lightning Defense-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Lightning Defense" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_lightningdef.png" /></div>
                    </div>
                    <input asp-for="LightningDR" class="form-control">
                </div>
            </div>

            <!--Dark Defense-->
            <div class="form-group col-2">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img title="Dark Defense" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/icon-wp_darkdef.png" /></div>
                    </div>
                    <input asp-for="DarkDR" class="form-control">
                </div>
            </div>
            <!--End row 7-->
        </div>

        <div class="row">
            <!--Flavor Text-->
            <div class="form-group col-12">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Flavor Text:</div>
                    </div>
                    <input asp-for="FlavorText" class="form-control">
                </div>
            </div>
        </div>

        <!--Submit or Cancel-->
        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>